*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}
.container{
    max-width: 500px;
    margin: 0 auto;
    background-color:rgb(16 3 3 / 48%) ;
    padding: 30px 0;
    text-align: center;
    border-radius: 20px;
}
img{
    max-width: 100%;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
h2{
    padding-top: 20px;
    padding-bottom: 10px;
}
h5{
    margin-bottom: 20px;
    color: rgb(26, 172, 38);
    font-size: 15px;
    font-weight: 2000;
    font-weight: 2000;
}
h6{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 2000;
}
li{
    list-style: none;
}
.active{
    background-color: rgb(26, 172, 38);
    color: rgb(24, 21, 21);
}
a{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: rgb(90, 11, 11);
    display: inline-block;
    margin-bottom: 10px;
    width: 60%;
    font-weight: 2000;
}
a:hover{
    background-color:rgb(26, 172, 38);
    color: rgb(24, 21, 21) ;
}